/* Tipografias
font-family: 'Montserrat', sans-serif;
font-family: 'Allerta', sans-serif; */

/* * {
  padding: 10px;//Margen interno
  Usos del padding:
  padding-top: 10px ;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;

  margin: 10px;//Margen Externo//
   Usos del margin:
  margin-top: 10px ;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;

  border: 2px solid red;//Tamaño, tipo, color
} */

.contenedor {
  width: 800px;
  margin: auto;
}

body {
  /* fuentes pendientes  */
  margin: 0;/*Para que mi pagina completa no tenga bordes*/
}

.header {
  position: relative;
}

.logotipo {
  display: inline-block;
}

.menu {
  font-size: 24px;
  display: inline-block;
  position: absolute;
  right: 0;
}

.menu li {
   display: inline-block;/*Los elementos del menu, se ponen uno a lado del otro*/
}

.portada {
background-image: url('../images/background.png');   /*El doble punto se utiliza para salir una carpeta. */
color: white;/*Todos los textos dentro de la clase .portada, eredaran este color.*/
padding: 20px;/*Margen Interno*/
font-family: 'Allerta', sans-serif;
}

button {
  border-radius: 5px;
  border: none;/*Sin borde*/
  background: #fd324e;/*Color boton*/
  color: white;/*letras*/
  padding: 7px;/*Margen interior*/
}

.titulo {
  /* fuentes pendientes  */
  font-size: 70px;
  margin-bottom: 15px;
  margin-top: 70px;
  line-height: 40px;
}

.title-a {
  font-size: 24px;
  margin-top: 0;
}

.title-b {
  font-size: 50px;
  margin-bottom: 20px;
}

.guitarras {
  color: #1F313C; /*Todos los textos dentro de la clase .guitarras, eredaran este color.*/
  font-family: 'Allerta', sans-serif;
}

.guitarras h2 {
  font-size: 35px;/*Solo el elemento h2 dentro de guitarra, eredara esta propiedad.*/
}

.guitarra {
  margin: 20px;
  padding: 10px;
  border: 1px solid #1F313C;
  border-radius: 8px;/* redondear bordes de margenes */
}

.guitarra ol {
  padding: 0;
}

.derecha {
  float: right;
  position: relative;
  top: -127px;
}

.izquierda{
  float: left;
  position: relative;
  top: 80px;
}

.contenedor-guitarra-a {

  padding-left: 20px;
}

.contenedor-guitarra-b {
  margin-left: 370px;
  padding-left:
}

.footer {
  background: #273b47;
}

.contacto img {
  display: block; /*Los elementos despues de la imagen se pondran de bajo de ella*/
}

.contacto strong {
  display: block;
}

.contacto a {
  color: white;
}
